body{
    background-color:rgb(228, 193, 78)
    }
    
    h1{
        color: rgb(2, 2, 2); 
        font-family: arial;
        background: ;
        font-size: 67px;
    }
    
        p{
           }
        }        color: rgb(241, 233, 226); 
            font-family: ;
            font-sizeb:30px ;
            background: ;
        }
        #yani {
            width: 100%;
        
            .container{
                width: 100%;
                margin: 0 auto;
            }
        }