
body{
background-color:rgb(228, 193, 78)
}

h1{
    color: rgb(255, 255, 255); 
    font-family: ;
    background: ;
}

    p{
        color: rgb(230, 106, 4); 
        font-family: ;
        font-size: ;
        background: ;
        }



        