
body{
background-color:rgb(228, 193, 78)
}

h1{
    color: rgb(255, 255, 255); 
    font-family: ;
    background: ;
  font-family: geneva; 


}

    p{
        color: rgb(0, 0, 0); 
        font-family: ;
        font-size: ;
        background: ;
        }

