
body{
background-color:rgb(228, 193, 78)
}

h1{
    color: rgb(2, 2, 2); 
    font-family:times ;
    background: ;
    font-size: 50px;
}

    p{
        color: rgb(241, 233, 226); 
        font-family: ;
        font-size:25px ;
        background: ;
        }



rtuioertyuiodfghjk